body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('../src/fonts/bebas_neue_cyrillic.eot'); /* IE 9 Compatibility Mode */
	src: url('../src/fonts/bebas_neue_cyrillic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../src/fonts/bebas_neue_cyrillic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../src/fonts/bebas_neue_cyrillic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../src/fonts/bebas_neue_cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../src/fonts/bebas_neue_cyrillic.svg#bebas_neue_cyrillic') format('svg'); /* Chrome < 4, Legacy iOS */
}


